################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/review-case-s1b7/v15/.suo
/.vs/ProjectSettings.json
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/7295d0b974f3b680/RECEIVERTEST.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/950150cd576afb60/LIB.ipch
/Receiver/.vs/Receiver/v15/Browse.VC.opendb
/Receiver/.vs/Receiver/v15/Browse.VC.db
/Receiver/.vs/Receiver/v15/.suo
/Receiver/bin
/Receiver/intermediates
/Receiver/lib/FinalResult.csv
/Receiver/Receiver/FinalResult.csv
/Receiver/Receiver/res.txt
/WordFrequencyCounter.gcno
/WordFrequencyCounter.gcda
/testchecker.exe
/Receiver/ReceiverTest/ReceiverTest.vcxproj.user
/Receiver/ReceiverTest/ReceiverTest.vcxproj.filters
/Receiver/ReceiverTest/ReceiverTest.vcxproj
/Receiver/ReceiverTest/outputfiles/WordFrequencyCounterTest.obj
/Receiver/ReceiverTest/outputfiles/vc141.pdb
/Receiver/ReceiverTest/outputfiles/vc141.idb
/Receiver/ReceiverTest/outputfiles/ReceiverTest.tlog/ReceiverTest.lastbuildstate
/Receiver/ReceiverTest/outputfiles/ReceiverTest.tlog/link.read.1.tlog
/Receiver/ReceiverTest/outputfiles/ReceiverTest.tlog/link.command.1.tlog
/Receiver/ReceiverTest/outputfiles/ReceiverTest.tlog/link.81444.write.1.tlog
/Receiver/ReceiverTest/outputfiles/ReceiverTest.tlog/CL.read.1.tlog
/Receiver/ReceiverTest/outputfiles/ReceiverTest.tlog/CL.command.1.tlog
/Receiver/ReceiverTest/outputfiles/ReceiverTest.tlog/CL.98452.write.1.tlog
/Receiver/ReceiverTest/outputfiles/ReceiverTest.tlog
/Receiver/ReceiverTest/outputfiles/ReceiverTest.pdb
/Receiver/ReceiverTest/outputfiles/ReceiverTest.obj
/Receiver/ReceiverTest/outputfiles/ReceiverTest.log
/Receiver/ReceiverTest/outputfiles/ReceiverTest.ilk
/Receiver/ReceiverTest/outputfiles/ReceiverTest.exe
/Receiver/ReceiverTest/outputfiles/ReceiverTest.Build.CppClean.log
/Receiver/ReceiverTest/outputfiles/DataStreamParserTest.obj
/Receiver/ReceiverTest/outputfiles
/Receiver/ReceiverTest/FinalResult.csv
/Receiver/ReceiverTest
/Receiver/Receiver.sln
/Receiver/Receiver/results.txt
/Receiver/Receiver/Receiver.vcxproj.user
/Receiver/Receiver/Receiver.vcxproj.filters
/Receiver/Receiver/Receiver.vcxproj
/Receiver/Receiver/receiver
/Receiver/Receiver/outputfiles/vc141.pdb
/Receiver/Receiver/outputfiles/vc141.idb
/Receiver/Receiver/outputfiles/Receiver.tlog/Receiver.lastbuildstate
/Receiver/Receiver/outputfiles/Receiver.tlog/link.read.1.tlog
/Receiver/Receiver/outputfiles/Receiver.tlog/link.command.1.tlog
/Receiver/Receiver/outputfiles/Receiver.tlog/link.6988-cvtres.write.1.tlog
/Receiver/Receiver/outputfiles/Receiver.tlog/CL.read.1.tlog
/Receiver/Receiver/outputfiles/Receiver.tlog/CL.command.1.tlog
/Receiver/Receiver/outputfiles/Receiver.tlog/CL.11028.write.1.tlog
/Receiver/Receiver/outputfiles/Receiver.tlog
/Receiver/Receiver/outputfiles/Receiver.pdb
/Receiver/Receiver/outputfiles/Receiver.obj
/Receiver/Receiver/outputfiles/Receiver.log
/Receiver/Receiver/outputfiles/Receiver.ilk
/Receiver/Receiver/outputfiles/Receiver.exe
/Receiver/Receiver/outputfiles/Receiver.Build.CppClean.log
/Receiver/Receiver/outputfiles
/Receiver/Receiver
/Receiver/lib/results.txt
/Receiver/lib/outputfiles/WordFrequencyCounter.obj
/Receiver/lib/outputfiles/Receiverlib.tlog/Receiverlib.lastbuildstate
/Receiver/lib/outputfiles/Receiverlib.tlog/Lib.command.1.tlog
/Receiver/lib/outputfiles/Receiverlib.tlog/Lib-link.write.1.tlog
/Receiver/lib/outputfiles/Receiverlib.tlog/Lib-link.read.1.tlog
/Receiver/lib/outputfiles/Receiverlib.tlog/CL.read.1.tlog
/Receiver/lib/outputfiles/Receiverlib.tlog/CL.command.1.tlog
/Receiver/lib/outputfiles/Receiverlib.tlog/CL.14436.write.1.tlog
/Receiver/lib/outputfiles/Receiverlib.tlog
/Receiver/lib/outputfiles/Receiverlib.pdb
/Receiver/lib/outputfiles/Receiverlib.lib
/Receiver/lib/outputfiles/Receiverlib.idb
/Receiver/lib/outputfiles/Receiverlib.Build.CppClean.log
/Receiver/lib/outputfiles/ReceiveData.obj
/Receiver/lib/outputfiles/main.obj
/Receiver/lib/outputfiles/lib.log
/Receiver/lib/outputfiles/DataStreamParser.obj
/Receiver/lib/outputfiles
/Receiver/lib/lib.vcxproj.user
/Receiver/lib/lib.vcxproj.filters
/Receiver/lib/lib.vcxproj
/Receiver/lib
/Receiver/.vs/Receiver/v15/Solution.VC.db-wal
/Receiver/.vs/Receiver/v15/Solution.VC.db-shm
/Receiver/.vs/Receiver/v15/Solution.VC.db
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/fba0f5b86f177d2f/DATASTREAMPARSER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/fba0f5b86f177d2f
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/e9efa77961b2c6b4/VCTMP42308_623937.RECEIVER.4A9C25FF.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/e9efa77961b2c6b4
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/e594069568ac969f/DATASTREAMPARSER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/e594069568ac969f
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/d7aff24f81d322d/RECEIVER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/d7aff24f81d322d
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/beeb614058ce543f/RECEIVEDATA.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/beeb614058ce543f
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/b9a88eca4bc424f9/DATASTREAMPARSERTEST.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/b9a88eca4bc424f9
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/b7acb54881b6822e/RECEIVERDATA.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/b7acb54881b6822e
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/9d6ecac4e681f30b/RECEIVER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/9d6ecac4e681f30b
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/993bf8582165e4dc/WORDFREQUENCYCOUNTERTEST.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/993bf8582165e4dc
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/928712d296cc5a3c/DATASTREAMPARSER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/928712d296cc5a3c
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/91e8f50b9d7ded8b/RECEIVERTEST.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/91e8f50b9d7ded8b
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/69a7e75dba675fdf/RECEIVEDATA.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/69a7e75dba675fdf
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/6280fb9216678e40/RECEIVER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/6280fb9216678e40
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/5e47ed0db32bea6d/RECEIVERDATA.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/5e47ed0db32bea6d
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/54634d35cf17f669/WORDFREQUENCYCOUNTER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/54634d35cf17f669
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/5193a4c526d2d299/WORDFREQUENCYCOUNTER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/5193a4c526d2d299
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/44f881c01d7ef24a/WORDFREQUENCYCOUNTER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/44f881c01d7ef24a
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/44d68bcf015fcdde/RECEIVER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/44d68bcf015fcdde
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/447df841cee8c06e/RECEIVER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/447df841cee8c06e
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/4025ee05852abf7c/DATASTREAMPARSER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/4025ee05852abf7c
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/273a9fd7f5ed306a/WORDFREQUENCYCOUNTER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/273a9fd7f5ed306a
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/262eac6fda0f33c7/MAIN.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/262eac6fda0f33c7
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/25cbbb189c2b78ad/RECEIVER.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/25cbbb189c2b78ad
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/17e4c92aebd1489b/LIB.ipch
/Receiver/.vs/Receiver/v15/ipch/AutoPCH/17e4c92aebd1489b
/Receiver/.vs/Receiver/v15/ipch/AutoPCH
/Receiver/.vs/Receiver/v15
/Receiver
/ReceiveData.gcno
/ReceiveData.gcda
/main.gcno
/main.gcda
/FinalResult.csv
/DataStreamParser.gcno
/DataStreamParser.gcda
/WordFrequencyCounter.cpp.gcov
/vector.tcc.gcov
/type_traits.h.gcov
/stl_vector.h.gcov
/stl_uninitialized.h.gcov
/stl_iterator_base_types.h.gcov
/stl_iterator_base_funcs.h.gcov
/stl_iterator.h.gcov
/stl_construct.h.gcov
/stl_algobase.h.gcov
/stl_algo.h.gcov
/result
/predefined_ops.h.gcov
/new_allocator.h.gcov
/new.gcov
/move.h.gcov
/char_traits.h.gcov
/basic_string.tcc.gcov
/basic_string.h.gcov
/alloc_traits.h.gcov
/allocator.h.gcov
/DataStreamParser.cpp.gcov
/DataStreamParser.h.gcov
/main.cpp.gcov
/ReceiveData.cpp.gcov
/WordFrequencyCounter.h.gcov
